@model EntityLayer.Concrete.FaturalamaPeriyodu
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 31px !important;
    }
</style>
@{  
    var error = TempData["error"];
    if (error != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                Toast.fire({
                    icon: 'error',
                    title: 'Ekleme İşlemi Başarısız Oldu'
                })
            };</script>
    }
}
<div class="card">
    <div class="card-header bg-gray">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="row">
                    <h3>Faturalama Periyodu Ekle</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <h4>
                            <button type="submit" form="frmFaturalamaPeriyoduEkle"
                                class=" align-right btn btn-primary btn-lg float-right"><i
                                    class="bi bi-database-add"></i></button>
                        </h4>
                    </div>
                    <div class="col-4">
                        <a asp-action="DtFaturalamaPeriyodu" asp-controller="DtFaturalamaPeriyodu" class=" btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <form id="frmFaturalamaPeriyoduEkle" asp-controller="DtFaturalamaPeriyodu" asp-action="FaturalamaPeriyoduEkle" method="post">
            <div class="form-group ">
                <div class="card-body p-3">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label class="col-form-label-sm">Faturalama Periyodu Açıklama</label>
                            <input type="Text" class="form-control form-control-sm text-capitalize" placeholder="Faturalama Periyodu Açıklama" asp-for="@Model.FaturalamaPeriyoduAciklama" required />
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label-sm">Periyot Sayısı</label>
                            <input type="number" class="form-control form-control-sm text-capitalize" placeholder="Faturalama Periyodu" asp-for="@Model.PeriyotSayisi" required />
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label-sm">Periyot</label>
                            <select id="slctPeriyot" asp-for="@Model.PeriyotNo" class="form-control select2bs4" style="width: 100%;" required>
                                <option selected disabled>Periyot Seçin</option>
                                <option value="1">Günluk</option>
                                <option value="2">Haftalık</option>
                                <option value="3">Aylık</option>
                                <option value="4">Yıllık</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
