
@model EntityLayer.Concrete.AnaSektor
@{
    var error = TempData["error"];
    if (error != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                Toast.fire({
                    icon: 'error',
                    title: 'Ekleme İşlemi Başarısız Oldu'
                })

            };</script>
    }
}
<div class="card">
    <div class="card-header bg-gray">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="row">
                    <h3>Ana Sektör Ekle</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <button type="submit" form="frmAnaSektorEkle" class="btn btn-info btn-lg"><i class="bi bi-database-add"></i></button>
                    </div>
                    <div class="col-4">
                        <a asp-action="DtAnaSektor" asp-controller="DtAnaSektor" class=" btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <form id="frmAnaSektorEkle" asp-controller="DtAnaSektor" asp-action="AnaSektorEkle" method="post">
            <div class="form-group ">
                <div class="card-body p-3">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label>Ana Sektör Adı</label>
                            <input type="Text" class="form-control text-capitalize" placeholder="Ana Sektör Adı" asp-for="@Model.AnaSektorAdi" required />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@*<form asp-controller="DtAnaSektor" asp-action="AnaSektorEkle" method="post">
    @if (ViewBag.isAdded != null)
    {
        <div class="col">

            <div class="form-group">
                <label>Bağlı Sektör Ekle</label>
                <select class="duallistbox" multiple="multiple" asp-for="Item2.BagliSektorId">
                    @foreach (var bagliSektor in ViewBag.bagliSektorList)
                    {
                        <option value="@bagliSektor.BagliSektorId">@bagliSektor.BagliSektorAdi</option>
                    }

                </select>
            </div>
        </div>
    }
</form>*@

