@model EntityLayer.Concrete.ServisTipi
@{
    var error = TempData["error"];
    if (error != null)
    {
        <script type="text/javascript">window.onload = function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                Toast.fire({
                    icon: 'error',
                    title: 'Ekleme İşlemi Başarısız Oldu'
                })
            };</script>
    }
}
<div class="card">
    <div class="card-header bg-gray">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <div class="row">
                    <h3>Servis Tipi Ekle</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row justify-content-end">
                    <div class="col-4">
                        <h4>
                            <button type="submit" form="frmServisTipiEkle"
                                class=" align-right btn btn-primary btn-lg float-right"><i
                                    class="bi bi-database-add"></i></button>
                        </h4>
                    </div>
                    <div class="col-4">
                        <a asp-action="DtServisTipi" asp-controller="DtServisTipi" class=" btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body bg-light">
        <form id="frmServisTipiEkle" asp-controller="DtServisTipi" asp-action="ServisTipiEkle" method="post">
            <div class="form-group ">
                <div class="card-body p-3">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <label class="col-form-label-sm">Servis Tipi</label>
                            <input type="Text" class="form-control form-control-sm text-capitalize" placeholder="Servis Tipi" asp-for="@Model.ServisTipiAciklama" required />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
