@*@model (EntityLayer.Concrete.Firma f, EntityLayer.Concrete.IlgiliKisiler ik)*@
@model Tuple<Cari, IlgiliKisiler>
@*@model EntityLayer.Concrete.IndexViewModel*@


<div class="row mb-1">
  <a
    role="button"
    href="Firma/deneme"
    class="btn btn-outline-primary rounded-1 col-md-4 mb-1"
  >
    Ekle
    <i class="bi bi-clipboard-plus"></i>
  </a>

  <a
    role="button"
    href="#"
    class="btn btn-outline-primary rounded-1 col-md-4 mb-1"
  >
    Görüntüle
    <i class="bi bi-binoculars"></i>
  </a>
  <a
    role="button"
    href="#"
    class="btn btn-outline-primary rounded-1 col-md-4 mb-1"
  >
    Değiştir
    <i class="bi bi-arrow-counterclockwise"></i>
  </a>
</div>
