@using EntityLayer.Concrete
@*@model Tuple<Cari, IlgiliKisiler>*@
@{
    ViewData["Title"] = "Cari";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card bg-light">
    <div class="card">
        <div class="card-header bg-gray">
            <div class="row justify-content-between">
                <div class="co-md-3">
                    <div class="row">
                        <h3> Cari Kart</h3>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row justify-content-end">
                        <div class="col-4">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-lg btn-danger"><i class="bi bi-x-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-light">
            <div class="m-2 mb-3">
                <div class="col">
                    <partial name="~/Views/Cari/Filter.cshtml" />
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-light">
        <div class="card-header">
            <div class="col-md-12 mb-1 d-flex justify-content-between">
                <button type="submit" form="fltAreaCari" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                    Ara
                    <i class="bi bi-binoculars"></i>
                </button>
                <a onclick="icerikGorCari()" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                    Gör
                    <i class="bi bi-eye"></i>
                </a>
                <a onclick="guncelleCari()" class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                    Değiştir
                    <i class="bi bi-arrow-counterclockwise"></i>
                </a>
                <a asp-controller="Cari" asp-action="AddCari" asp-route-hesapKodu=""
                   class="btn btn-outline-primary rounded-1 col-md-3 mb-1">
                    Ekle
                    <i class="bi bi-clipboard-plus"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <partial name="~/Views/Cari/CariList.cshtml" />
        </div>
    </div>
</div>




<!--<div class="flex-grow-1 ">-->

    @* <h4 class="fw-bold mb-2"><span class="text-muted fw-light mx-4">Cari Kart /</span>Tedarikçiler</h4> *@
  

    <!--<div class="content-backdrop fade"></div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>-->
          