@{
    ViewData["Title"] = "DestekTablosu";
    //Layout="~Views/Shared/_Layout.cshtml";
    Layout = "/Views/Shared/_Layout.cshtml";
  
}
<div class="row">
    <div class="col-12">

                @switch (ViewBag.table)
                    {
                        case "sehir":
                            Html.RenderPartial("SehirPartial");
                            break;
                        case "ulke":
                            Html.RenderPartial("UlkePartial");
                            break;
                        default:
                            break;
                    }


    </div>
</div>